{% extends 'base.html' %}



{% block content %}   
<div class="container">
<br/><br/><br/>
<h1>Admin Login</h1>
<br><br>
<form action="", method=POST>
  {% csrf_token %}

<form>
  <div class="mb-3">
    <label for="formGroupExampleInput" class="form-label">Username</label>
    <input type="search" class="form-control" id="formGroupExampleInput" aria-label="Search" placeholder="Username" name="username" required>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password" required>
  </div>
  <br>
  <input type="submit" value="Login" class="btn btn-warning">
  </form>

{% endblock %}

