{% extends 'base.html' %}

{% block content %}
<br><br>
<div class="container mt-5">
  <h2 class="mb-4"><strong>Confirm Attendance</strong></h2>

  <table class="table table-bordered">
    <tbody>
      <tr>
        <th>Surname</th>
        <td>{{ registered.s_name }}</td>
      </tr>
      <tr>
        <th>Husband's Name</th>
        <td>{{ registered.f_name_m }}</td>
      </tr>
      <tr>
        <th>Wife's Name</th>
        <td>{{ registered.f_name_f }}</td>
      </tr>
      <tr>
        <th>Year Married</th>
        <td>{{ registered.year_married }}</td>
      </tr>
    </tbody>
  </table>

  {% if registered.has_confirmed_attendance %}
    <div class="alert alert-info mt-3">
      ✅ Thank you for confirming your attendance!!!
    </div>

    {% if request.user.is_authenticated and request.user.is_superuser %}
        <div class="alert alert-warning mt-2">
          As an admin, you can Unconfirm this couples attendance.
        </div>
      <form method="post" action="?action=unconfirm">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger mt-2">Unconfirm Attendance</button>
      </form>
    {% endif %}

  {% else %}
    <form method="post">
      {% csrf_token %}
      <button type="submit" class="btn btn-success">Yes, We Will Be Present</button>
    </form>
  {% endif %}
</div>
{% endblock %}
