{% extends 'base.html' %}



{% block content %}
<div class="container">

<br/><br/><br/><br/>
<center><h1>Search your Name here!!</h1></center>
<form method="POST" action="">
  {% csrf_token %}
  <div class="mb-3">
    <h5><label for="formGroupExampleInput" class="form-label">Last Name:</label></h5>
    <input type="search" class="form-control" id="formGroupExampleInput" aria-label="Search" placeholder="Enter your Last name" name="lastname" required>
  </div>
  <div class="mb-3">
    <h5><label for="formGroupExampleInput2" class="form-label">First Name:</label></h5>
    <input type="search" class="form-control" id="formGroupExampleInput2" aria-label="Search" placeholder="Enter your First name" name="firstname" required>
  </div>
  <br/>
  <button type="submit" class="btn btn-warning">Search</button>
</form>

{% if lastname and firstname %}  
      {% if success %}
      <br><br>
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Surname</th>
              <th scope="col">Fist name- Husband</th>
              <th scope="col">First name- Wife</th>
              <th scope="col">Download Tag</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">{{ id }}</th>
              <td>{{ s_name }}</td>
              <td>{{ f_name_m }}</td>
              <td>{{ f_name_f }}</td>
              <td><button type="button" class="btn btn-outline-warning"><a href="{% url 'pdf_registee' id %}">Download Tag</a></button></td>
            </tr>
          </tbody>
          </table>
      {% else %}
        <br><br>
        <div class="alert alert-primary" role="alert">
        Record not found...
      </div>
      {% endif %}
    {% endif %}


{% endblock %}

